@model XeMayShop.Models.ChiTietPhieuNhap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietPhieuNhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuNhap.MaPhieuNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuNhap.MaPhieuNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xe.TenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xe.TenXe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
