@model IEnumerable<XeMayShop.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên khách hàng" name="thongtintimkiem">
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaKhachHang }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaKhachHang }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaKhachHang })
            </td>
        </tr>
    }

</table>
