@model IEnumerable<XeMayShop.Models.ChiTietPhieuXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuXuat.MaPhieuXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xe.TenXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuXuat.MaPhieuXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xe.TenXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
