@model XeMayShop.Models.Xe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinBaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinBaoHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongHienCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongHienCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DongXe.TenDongXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DongXe.TenDongXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiXe.TenLoaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiXe.TenLoaiXe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
