@model IEnumerable<XeMayShop.Models.Xe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinBaoHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongHienCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DongXe.TenDongXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiXe.TenLoaiXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinBaoHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongHienCo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DongXe.TenDongXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiXe.TenLoaiXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaXe }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaXe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaXe })
        </td>
    </tr>
}

</table>
