@model XeMayShop.Models.PhieuBaoHanh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhieuBaoHanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBaoHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoKhung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoKhung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoSuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoSuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuXuat.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuXuat.TinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
