@model IEnumerable<XeMayShop.Models.PhieuBaoHanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoKhung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoSuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuXuat.Xe.TenXe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoKhung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoSuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuXuat.Xe.TenXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuBaoHanh }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuBaoHanh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuBaoHanh })
        </td>
    </tr>
}

</table>
